# Environment variables
.env

# Python cache files
__pycache__/
*/__pycache__/
*/*/__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/


# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover